data type in list

number : int , float , complex

LIST

# difference btw data type

thislist=["apple", "banana", "cherry"]

    Lists are used to store multiple items in a single variable.

    List items are ordered, changeable, and allow duplicate values.


thisset = {"apple", "banana", "cherry"}

    Sets are used to store multiple items in a single variable.

    A set is a collection which is unordered, unchangeable*, and unindexed.

thisdict = {
  "yellow": "banana",
  "red": "cherry",
  "green": "apple"
}

    Dictionary items are ordered, changeable, and does not allow duplicates.

    Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

thistuple = ("apple", "banana", "cherry")

    Tuples are used to store multiple items in a single variable.

    A tuple is a collection which is ordered and unchangeable.

In [52]:
#indexing

In [53]:
l=[1,2,3,4,5]# list of only no
l[0]

1

In [54]:
l=["a","b","c"]#list of char only
l[1]

'b'

In [55]:
l=["hhsj",2,"gsjs"]#mixed data type in 
l[2]

'gsjs'

In [56]:
l[::-1]

['gsjs', 2, 'hhsj']

In [57]:
l[1:2]

[2]

In [58]:
#iteratiing list

In [59]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [60]:
if 3 in l:
    print("YES!")

YES!

In [61]:
if 11 in l:
    print("YES!")
else:
    print("jai mata di!")

jai mata di!

TUPLES

In [62]:
thistuple = ("apple", "banana", ["cherry", "orange"], "kiwi", "melon", "mango")
print(thistuple[2][1][2:5])

ang

In [63]:
x = ("apple", "banana", "cherry")
y = list(x)   # so the data would not get lost
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [64]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

SETS

In [65]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [66]:
print(thistuple[-1])

mango

In [67]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

DICTIONARY

In [69]:
thisdict = {
  "yellow": "banana",
  "red": "cherry",
  "green": "apple"
}
x = thisdict["red"]
x

'cherry'

In [70]:
x = thisdict.get("yellow")
x

'banana'

In [71]:
x = thisdict.keys()
x

dict_keys(['yellow', 'red', 'green'])

In [72]:
for x in thisdict.values():
  print(x)

banana
cherry
apple

In [73]:
for x in thisdict.keys():
  print(x)

yellow
red
green

In [74]:
for x, y in thisdict.items():
  print(x, y)

yellow banana
red cherry
green apple